<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="icons8-angular-50.png" alt="Icon8" width="30">
        <a class="navbar-brand" href="#">
            Curso Angular
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- ENLACES NAVBAR -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/temario">Temario</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/directivas">Directivas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/tuberias">Tuberias</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dependencias">Dependencias</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/servicios">Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/formularios">Formularios</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/binding">Binding</a>
                </li>

            </ul>
        </div>
    </div>
</nav>